<?xml version="1.0" ?>
<launch>
  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot0"/>
    <arg name="xcoordinate" value="-42"/>
    <arg name="ycoordinate" value="-4"/>
  </include>

  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot1"/>
    <arg name="xcoordinate" value="-38"/>
    <arg name="ycoordinate" value="0"/>
  </include> 

  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="xcoordinate" value="-42"/>
    <arg name="ycoordinate" value="4"/>
  </include>
  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="xcoordinate" value="-46"/>
    <arg name="ycoordinate" value="0"/>
  </include>   
</launch>
